*{
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    position: relative;
    
}


/*NAVIGATION BAR*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: linear-gradient(purple, rgb(238, 171, 47));
    width: 100%;
    position: fixed;
    padding-top: 5px;
    /*margin: 0;
    padding: 0 16px 0 0;
    box-sizing: border-box;*/
    /*z-index MAKES NO OBJECT ABOVE IT*/
    z-index: 100;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;

   
}
nav ul {
    display: flex;
    
    width: 38%;
    /*background: red;*/
    margin-left: auto;  
}
nav ul li {   
    list-style: none;
    padding: 10px 30px 10px 50px;
    /*border: solid 2px white;*/
    /*margin: 0px 70px 0px 0px;
    margin: auto;*/
}
nav ul li a:hover {
    /*background: red;*/
    border-bottom: solid 2px white;
    /*transition: ease-out .5s;*/
    
}
nav ul li a {
    text-decoration: none;
    color: white;  
}
/*THE LOGO*/
.logo {
    width: 10px;
    /*background: red;*/
    display: flex;
    padding: 0px 50px;
}
.logo img{
    width: 60px;
    
}


/*THE MENU BAR*/
#menu-icon {
    height: 100%;
    font-size: 28px;
    color: white;
    padding: 0 4px;
    align-items: center;
    display: none;
    cursor: pointer;
/*
  padding: 0 4px;
  color: #eee;
  display: none;
  align-items: center;*/
}
/*#menu-close {
    height: 100%;
    font-size: 28px;
    color: white;
    padding: 0 4px;
    align-items: center;
    display: none;
    
}*/

/*WHEN CLICKING ON MENU*/
#slideout-menu {
    display: none;
    position: fixed;
    margin-top: 80px;
    width: 100%;
    text-align: center;
    transition: 0.4s;
    background: rgb(224, 165, 55);
    /*NEW TO ME*/
    pointer-events: none;
    z-index: 100;
    opacity: 0;
    letter-spacing: 2px;
}
#slideout-menu ul {
    
    list-style: none;
    padding: 0 32px;
}
#slideout-menu ul li {
    padding: 10px;
    
}
#slideout-menu ul li a{
    text-decoration: none;
    color: black;
    
    padding: 5px 15px 5px 15px;
}
#slideout-menu ul li a:hover{
    border-bottom: white solid 2px;
    /*background: white;*/
}

/*BACKGROUNDS*/
.picture {
    background: url(images/background.jpg);
    height: 95vh;
    background-size: cover;
    display: flex;
    background-position: center;
    text-align: center;
    flex-direction: column;
    color: white;
    font-size: 40px;
    background-blend-mode: overlay;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*change font just in case*/
    font-family: 'Ubuntu', sans-serif;

    
    
}
.picture .explain {
    border: solid 3px white;
    width: 35%;
    align-content: center;
    margin: auto;
    background: rgba(180, 129, 80, 0.5);
    
    
    
}
.picture-2 {
    background: url(images/background-2.jpg);
    height: 70vh;
    background-size: cover;
    display: flex;
    background-position: center;
    text-align: center;
    flex-direction: column;
    color: white;
    font-size: 50px;
    background-blend-mode: overlay;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.picture-2 .explain{
    /*border: solid 3px white;*/
    width: 25%;
    align-content: center;
    margin: auto;
    /*background: rgba(180, 129, 80, 0.5);*/
    background: rgba(94, 90, 87, 0.4);
    border-top: solid 3px white;
    border-bottom: solid 3px white;
    /*change font just in case*/
    font-family: 'Ubuntu', sans-serif;

}
.picture-3 {
    background: url(images/background-3.jpg);
    height: 70vh;
    background-size: cover;
    display: flex;
    background-position: center;
    text-align: center;
    flex-direction: column;
    color: white;
    font-size: 40px;
    background-blend-mode: overlay;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.picture-3 .explain {
    /*border: solid 3px white;*/
    width: 30%;
    align-content: center;
    margin: auto;
    background: rgba(94, 90, 87, 0.4);
    border-top: solid 3px white;
    border-bottom: solid 3px white;
    /*change font just in case*/
    font-family: 'Ubuntu', sans-serif;

    
}



/*EXPLAINING*/
section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px;
    /*margin: 50px 150px 50px 150px;*/
    /*background-color: orchid;*/
    width: 80%;
}
section .upper-header{
    /*background: orange;*/
    border-bottom: solid 3px orange;
    width: 10%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;

    
}

section h2{
    /*background: yellow;*/
    padding: 25px 50px 0px 50px;
    width: 50%;
    font-family: 'Open Sans', sans-serif;
    
    
}

section p{
    padding: 4px 75px 0px 75px;
    /*background: red;*/
    font-family: 'Montserrat', sans-serif;
}








    
/*THIS WILL BE THE CARD UNDER WORK*/
.team-section {
    background: white;
    text-align: center;
    
}
.inner-width {
    /*max-width reduces background size*/
    max-width: 1200px;
    /*background-color: red;*/
    margin: auto;
    padding: 40px;
    overflow: hidden;
    color: #333;
}
.project {
    /*float made column become a row*/
    float: left;
    /*At 100% width alows 3 in here*/
    width: calc(100% / 5);
    overflow: hidden;
    padding: 40px 10px 0;
    transition: 0.4s;
}
.project:hover {
    /*background: rgb(255, 226, 183);*/
    background: linear-gradient(rgb(253, 217, 146), rgb(255, 236, 209));
}
.project img {
    width: 120px;
    height: 120px;
}
.project-name {
    margin: 0px 0;
    font-family: 'Ubuntu', sans-serif;

}
.project-desc {
    margin: 30px 0;
    font-family: 'Montserrat', sans-serif;
}
.project .sm{
    margin-top: 12px;
    font-size: 25px;
}
.project .sm a {
    margin: 0 4px;
    display: inline-block;
    width: 30px;
    height: 30px;
    transition: 0.4s;
}
.project .sm a:hover {
    transform: scale(1.3);
}
.project .sm a i{
    line-height: 30px;
    color: #333;
}










/*THIS IS A CONTACT CARD(s)*/
/*.contact-card {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    position: relative;
    flex: 1;
    max-width: 300px;
    height: 140px;
    background: yellow;
    margin: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-card .icon {
    font-size: 35px;
    transition: .3s linear;
}
.card:hover .icon {
    opacity: 0;
    transform: scale(4);   
}
.contact-card-info h2, 
.contact-card-info span {
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    opacity: 0;
}

.contact-card-info h2 {
    top: 20px;
    text-transform: uppercase;
}
.card-info span {
    bottom: 20px;
    text-transform: uppercase;
}
.card:hover h2 {
    opacity: 1;
    transition: .3s linear .3s;
    top: 46px;
}
.card:hover span {
    opacity: 1;
    transition: .3s linear .3s;
    bottom: 46px;
}*/

.contact-info{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    position: relative;
    flex: 1;
    max-width: 300px;
    height: 140px;
    /*background: linear-gradient(rgb(253, 218, 153), rgb(255, 187, 60));*/
    background: linear-gradient(rgb(253, 202, 106), rgb(255, 179, 39));
    margin: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    font-size: 32px;
    color: black;
    transition: .3s linear;
}

.card:hover .icon{
    transform: scale(4);
    opacity: 0;
}

.card-content h3,
.card-content span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    opacity: 0;
}

.card-content h3{
    top: 20px;
    text-transform: uppercase;
    color: black;
}

.card-content span{
    bottom: 20px;
    color: black;
    font-weight: 500;
}

.card:hover h3{
    opacity: 1;
    top: -35px;
    transition: .3s linear .3s;
}

.card:hover span{
    opacity: 1;
    bottom: -35px;
    transition: .3s linear .3s;
    position: none;
}













/*THIS IS THE FOOTER*/
.page-end {
    background-color: red;
}
.footer
{
    /*position: relative;
    height: 6vh;
    width: 100%;
    bottom: 0px;
    background-color: darkturquoise;
    border-top: solid darkturquoise 10px;
    color: rgb(0, 0, 0);
    text-align: center;*/
    position: absolute;
    background: linear-gradient( rgb(238, 171, 47), purple);
    width: 100%;
    bottom: 0px;
    text-align: center;
}
.footer p{
    padding-bottom: 10px;
    color: white;
}
.footer h4{
    padding-top: 10px;
}
.footer .sm {
    /*background-color: white;*/
    padding: 0px 0px 10px 0px;
}
.footer .sm a{
    padding: 0px 25px 0px 25px;
    /*background-color: violet;*/
    color:white;
    display: inline-block;
    width: 30px;
    height: 20px;
    transition: 0.4s;
}
.footer .sm a:hover {
    transform: scale(1.3);
}


/*MAKES PAGE RESPONSIVE*/
@media screen and (max-width: 1400px) {
    nav ul{
        width: 50%;
    }
    .picture .explain{
        width: 35%;
    }
    section .upper-header{
        /*background: orange;*/
        border-bottom: solid 3px orange;
        width: 7%;
    }
    section p{
        width: 80%;
    }
    
    
}

@media screen and (max-width: 1150px) {
    /*THIS MESSES UP THE SCROLLING SOME HOW
    body {
        overflow: hidden;
    }*/
    .logo {
        padding: 10px 0px;
        margin: 0px 40px;
    }
    
    
      
      /*#menu-close {
          display: flex;
      }*/
    
      #slideout-menu {
        display: block;
        font-family: 'Open Sans', sans-serif;
      }
      .picture .explain{
        width: 40%;
    }
    .picture-3 .explain{
        width: 35%;
    }
}
@media screen and (max-width: 1000px) {
    .picture-3 .explain{
        width: 45%;
    }
    #contact .upper-header{
        width: 12%;   
    }
    nav ul {
        display: none;
    }
    #menu-icon {
        display: flex;
    }
}
@media screen and (max-width: 912px) {
    .card{
        flex: 100%;
        max-width: 500px;
    }
}
@media screen and (max-width: 810px) {
    .picture .explain{
        width: 60%;
    }
    section .upper-header{
        /*background: orange;*/
        border-bottom: solid 3px orange;
        width: 13%;
    }
    #contact .upper-header{
        width: 15%;   
    }
    .picture-2 .explain{
        width: 30%;
    }
    .picture-3 .explain{
        width: 55%;
    }

    
    
}
@media screen and (max-width: 665px) {   
    h1 {
      font-size: 48px;
    }
    #logo-img {
      padding: 0;
    }
    .picture .explain{
        width: 60%;
    }
    section p {
        width: 100%;
        padding: 5px;
    }
    section h2{
        width: 100%;
        padding: 20px 0;
    }
    section .upper-header{
        /*background: orange;*/
        border-bottom: solid 3px orange;
        width: 30%;
        font-size: 48px;
    }
    .picture-2 .explain{
        width: 40%;
    }
    #contact .upper-header{
        width: 35%;
    }
    .logo {
        margin-right: 60%;
    }
    .project {
        width: 100%;
    }
}
@media screen and (max-width: 550px) {
    section .upper-header{
        /*background: orange;*/
        border-bottom: solid 3px orange;
        width: 50%;
        font-size: 48px;
    }
    #contact .upper-header{
        width: 45%;
        
    }
    .picture .explain{
        width: 85%;
    }
    .picture-2 .explain{
        width: 45%;
    }
    .picture-3 .explain{
        width: 60%;
    }
    
}
@media screen and (max-width: 430px) {
    .picture .explain{
        width: 85%;
    }
    .picture-2 .explain{
        width: 55%;
    }
    .picture-3 .explain{
        width: 80%;
    }
    #contact .upper-header{
        width: 70%;
        
    }
    section p {
        width: 100%;
    }
    section .upper-header{
        margin: auto;
    }
    
    
}
@media screen and (max-width: 320px) {
    .picture .explain {
        width: 95%;
    }
    .picture-2 .explain {
        width: 60%;
    }
}